<h1>Vehicles</h1>

<h3>Here are the vehicles on this lot: </h3>
<p>
  Total cars in this Dealership: <b> <em> <%= @vehicles_list  %></em> </b>
</p>
<ul>
  <% @vehicles.each() do |vehicle| %>
    <li><a href="/vehicles/<%= vehicle.id() %>"><%= vehicle.model() %></a></li>
  <% end %>
</ul>
